@model IEnumerable<PaulsUsedGoods.WebApp.ViewModels.TopicOptionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Topic</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TopicOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
