@{
    ViewData["Title"] = "Menu";
}

<body>

    <div>
        <p>Hello.</p>
        <br />
        <p>Are you a new user or a returning user?</p>
        <br />
    </div>
    <div>
        <a class="my_content-container" asp-controller="People" asp-action="Create">
            <button>Click here to create a new user!</button>
        </a>
    <div>
    <br/>
    <div>
        <a class="my_content-container" asp-controller="Order" asp-action="LogIn">
            <button>Click here to log in as an existing user!</button>
        </a>
    </div>
</body>